In [0]:
import numpy as np
import keras
from keras import backend as K
from keras.models import Sequential
from keras.layers import  Activation
from keras.layers.core import Dense,Flatten
from keras.optimizers import Adam
from keras.metrics import categorical_crossentropy
from keras.preprocessing.image import ImageDataGenerator
from keras.layers.normalization import BatchNormalization
from keras.layers.convolutional import *
from sklearn.metrics import confusion_matrix
import itertools
import matplotlib.pyplot as plt
%matplotlib inline

Using TensorFlow backend.

In [0]:
import tensorflow as tf 
tf.__version__

'2.1.0'

In [0]:
import pandas as pd
dataset = pd.read_csv('Social_Network_Ads.csv')
X = dataset.iloc[:,[2,3]].values
y = dataset.iloc[:,4].values
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test , y_train, y_test = train_test_split(X,y,test_size = 0.2)

In [0]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(128,activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(64,activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(64,activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128,activation = tf.nn.softmax))
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics = ['accuracy'] )
model.fit(X_train,y_train,epochs = 3)

Train on 320 samples
Epoch 1/3
320/320 [==============================] - 0s 1ms/sample - loss: 2653.5551 - accuracy: 0.2625
Epoch 2/3
320/320 [==============================] - 0s 84us/sample - loss: 234.7615 - accuracy: 0.4844
Epoch 3/3
320/320 [==============================] - 0s 76us/sample - loss: 80.4235 - accuracy: 0.5906

In [0]:
val_loss,val_acc = model.evaluate(x_test,y_test)
print(val_loss,val_acc)

80/80 [==============================] - 0s 941us/sample - loss: 130.1671 - accuracy: 0.6000
130.1671173095703 0.6

In [0]:
predictions = model.predict(X_test)
p1 = np.argmax(predictions[45])
p = np.argmax(predictions[38])
print (p)

0

In [0]:
y_test[45]

0

In [0]:
y_test[38]

1